.signup-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 20px;
        
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #400227;
    border-color: #400227;
}

.signup-form input {
    margin-bottom: 3px;
}

.signtitle {
    text-align: center;
}

.signup-form-button, .signup-form-button:hover, .signup-form-button:focus {
    background-color: #400227;
    border-color: #400227;
  }